.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__field{
    padding: 8px; 
    border: 1px solid #d4d4d4;
}

.form__submitButton {
    background-color: #007383;
    color: #fff;
    font-weight: 300;
    border: 1px solid #007383;
    padding: 8px;
    transition: 500ms ease-in-out;
}

.form__submitButton:hover {
    background-color: hsl(187, 100%, 30%);
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .form__submitButton:hover{
        transform: scale(1.04);
    }
}

.form__submitButton:active {
    background-color: hsl(187, 100%, 35%);
    transform: scale(1.1);
}